.map-container {
  height: 85vh;
  width: 99vw;
}  

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00d500;
  font-size: 1.2em;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  border-radius: 4px;
}

.options-container {
  position: fixed;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  top: 110px;
  left: 20px;
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.zoom-buttons {
  background-color: rgba(35, 55, 75, 0.9);
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 1000;
}

.zoom-buttons button {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.zoom-buttons button:hover {
  background-color: #f0f0f0;
}

.zoom-buttons button:focus {
  outline: none;
}

.zoom-buttons button:last-child {
  margin-bottom: 0;
}


